@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Lobster&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

/* NAV BAR SECTION */

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar-logo {
  flex: 1;
  font-family: "Lobster", cursive;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.navbar-toggle {
  display: none;
}

.navbar-links:hover a {
  color: gray;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-wrap: wrap;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .active {
    display: block;
  }
}

/* HEADER SECTION */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content-img {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .header-img {
    width: 330px;
  }
}

.header-titulo {
  font-size: 2.5em;
  font-weight: bold;
  margin: 50px;
  user-select: none;
  text-align: center;
}

.header-paragraph {
  font-size: 1.5em;
  user-select: none;
  text-align: center;
  line-height: 1.5;
}

/* ABOUT ME SECTION */

#about-me {
  background-color: #d7fcf6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-me h2 {
  margin: 30px;
  font-size: 2rem;
  user-select: none;
}

#about-me p {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 20px;
  width: 50%;
}

#about-me a {
  margin: 30px;
  text-decoration: none;
  color: black;
}

.skills {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px 80px 20px;
}

.skills-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  gap: 12px;
}

.skills-img img:hover {
  transition: transform 0.6s;
  transform: scale(1.2);
}

.download-cv {
  border-radius: 50px;
  border: 2px solid white;
  background-color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 1em 1.5em;
  cursor: pointer;
}

/* PROJECTS SECTION */

.projects-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.projects-text h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.projects-text p {
  font-size: 20px;
  padding-bottom: 20px;
}

.projects-area {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5em;
  flex-wrap: wrap;
}

.projects-area .project-item {
  background: #fafbfb;
  padding-bottom: 1em;
  flex-basis: 300px;
  max-width: 450px;
  flex-grow: 1;
  border-radius: 15px;
}

.project-content {
  width: 90%;
  margin: 0 auto;
}

.project-picture {
  width: 90%;
  background: #d7fcf6;
  margin: 0 auto;
  position: relative;
  bottom: 2em;
  border-radius: 15px;
}

.project-img {
  width: 100%;
  padding: 40px;
}

.project-tittle {
  margin-bottom: 1em;
}

.project-link {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
